#info {
    display:flex;
    flex-wrap:wrap;
    gap:55px;
}

#info .material{
    margin:0;
}


@media( max-width: 480px){

    #info.material{
        flex-grow:1;
}
    
    #info.material img{
        width: 100%;
}

