* {
    margin: 0 auto;
    padding: 0;
    font-family: arial;
}

#container {
    width: 85%;

}

header {
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
}

header #logo {
    width: 10%;
    margin: 0;
    padding: 10px;
}

header #logo img {
    width: 100%;
}

header #menu {
    width: 70%;
}

header #menu ul {
    list-style: none;
    display: flex;
    gap: 20px;

}

header #menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#hamburguer {
    display: none;
}

#content {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 100%;

}

#content #info {
    width: 70%;

}

#content #barral {
    width: 100%;
    background-color: #160600;
    color: white;
    padding: 10px;
}

#cards .card {
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
}

.card h3 {
    margin-bottom: 20px;
}

#content #info #banner img {
    width: 100%;
}

#info #texts {
    display: flex;
    margin-top: 20px;
}

#texts h1 {
    margin: 0;
    width: 45%;
    font-size: 45px;
    font-weight: 600;
}

#texts #descripcion {
    margin: 0;
    width: 100%;
}

#descripcion p {
    margin-bottom: 40px;
}

#descripcion input {
    border: none;
    padding: 15px 20px;
    background-color: #f18777;
    font-size: 16px;
    letter-spacing: 3px;
    color: white;
}

footer {
    margin-top: 40px;
    margin-bottom: 40px;
}

footer .tarjeta {
    display: flex;
}

footer .tarjeta .infopie {
    display: block;
    gap: 30px;
    margin-bottom: 50px;
    padding-right: 100px;
    justify-content: space-between;
    width: 100%;
    display: flex;
}

.tarjeta .infopie img {
    width: 30%;
}

.tarjeta .infopie .textos {
    width: 50%;
}

@media (max-width:480px) {
    header #menu {
        position: absolute;
        background-color: #eaffff;
        height: 1000px;
        top: 0;
        right: 0;

    }

    header #menu ul {
        flex-direction: column;
        text-align: left;
        margin-top: 30px;
    }

    header #menu ul li {
        margin: 20px 140px;
    }

    #menu {
        display: none;
    }

    #hamburguer {
        display: block;
        position: absolute;
        z-index: 20;
        top: 30px;
        right: 30px;
    }

    header {
        margin-top: 10px;
    }

    #logo {
        margin: 0;
    }

    #content {
        flex-direction: column;
    }

    #content #info {
        width: 100%;
        margin-bottom: 40px;
    }

    #barral {
        width: 85%;
    }

    #info #texts {
        flex-direction: column;
    }

    #texts h1 {
        width: 50%;
    }

    #text #descripcion {
        width: 50%;
    }

    footer .tarjeta {
        flex-direction: column;
    }